doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title L
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', id='mainStylesheet' href='css/main.css')
  body
    #logo0.dadadada
    #logo1.dadadada
    #logo2.dadadada
    #logo3.dadadada
    #logo4.dadadada
    #logo5.dadadada
    #logo6.dadadada
    #logo7.dadadada
    #logo8.dadadada
    #logo9.dadadada
    #logo10.dadadada
    script(src='scripts/lightgl.js')
    script(src='js/main.js')